<link rel="stylesheet" type="text/css" href="../bootstrap/css/cadastro.css">
<body>

<h1 class="container titulo1">Dados Pessoais</h1>


<form>
  <div class="container">
  <div class="form-row">
    <div class="col col1">
      <label for="formGroupExampleInput">Nome</label>
      <input type="text" class="form-control" placeholder="Digite o seu nome">
    </div>
    <div class="col col1">
      <label for="formGroupExampleInput">CPF</label>
      <input type="text" class="form-control" placeholder="000.000.000-00">
    </div>
  </div>
  </div>
  <div class="container">
  <div class="form-row">
    <div class="col col2">
      <label for="formGroupExampleInput">Telefone</label>
      <input type="text" class="form-control" placeholder="(99) 9 9999-9999">
    </div>
    <div class="col col2">
      <label for="formGroupExampleInput">Email</label>
      <input type="text" class="form-control" placeholder="email@example.com">
    </div>
  </div>
  </div>
</form>

<h1 class="container titulo1">Endereço</h1>

<form>
  <div class="container">
  <div class="form-row">
    <div class="col-7">
      <label for="inputEmail4">Rua</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Digite o nome da rua">
    </div>
    <div class="col">
      <label for="formGroupExampleInput">Complemento</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Quadra,Lote, etc.">
    </div>
    <div class="col">
      <label for="formGroupExampleInput">Número</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
  </div>
  </div>
  <div class="container">
  <div class="form-row">
    <div class="col">
      <label for="inputEmail4">Bairro</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Digite o nome do bairro">
    </div>
    <div class="col">
      <label for="formGroupExampleInput">Cep</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="00.000-000">
    </div>
    <div class="col">
      <label for="formGroupExampleInput">Cidade</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
    <div class="col">
      <label for="inputState">Estado</label>
      <select id="inputState" class="form-control">
        <option selected>Escolha...</option>
        <option>Acre</option>
        <option>Alagoas</option>
        <option>Amapá</option>
        <option>Amazonas</option>
        <option>Bahia</option>
        <option>Ceará</option>
        <option>Distrito Federal</option>
        <option>Espirito Santo</option>
        <option>Goiás</option>
        <option>Maranhão</option>
        <option>Mato Grosso</option>
        <option>Mato Grosso do Sul</option>
        <option>Minas Gerais</option>
        <option>Pará</option>
        <option>Paraíba</option>
        <option>Paraná</option>
        <option>Pernambuco</option>
        <option>Piauí</option>
        <option>Rio de Janeiro</option>
        <option>Rio Grande do Norte</option>
        <option>Rio Grande do Sul</option>
        <option>Rondônia</option>
        <option>Roraima</option>
        <option>Santa Catarina</option>
        <option>São Paulo</option>
        <option>Sergipe</option>
        <option>Tocantins</option>

      </select>
    </div>
  </div>
  </div>
</form>
<form>
	<div class="container">
	<div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
       Confirmo todas as informações aqui digitadas
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Enviar</button>
  </div>
  
</form>
</body>
